* {
    box-sizing: border-box;
    font-family: Tahoma;
    background: darkblue;
    color: rgba(255, 255, 255, 0.836);
}
body{
    width: 80%;
    margin: 60px auto;
}
.logo,.welcome {
    text-align: center;
}
input, button {
    width: 50%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px ;
    border: 1px solid gray;
}
button {
    width: auto;
    background-color: rgba(13, 13,200, 0.811);
    padding: 20px 30px;
}
.banner {
    background: url('../images/WHILE.JPG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 60px;
    border-radius: 10px;
    margin-top: 40px;
}
.banner h2,.banner p {
    background: transparent;
    line-height: 0.6;
}
.degrees h2 {
    font-size: 50px;
}
.weather {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}
.stats {
    text-align: center;
    background-color: #3e3e71;
    width: 24%;
    border-radius: 10px;
    padding: 20px 0;

}
.stats h4,.stats p,.stats img {
    background: transparent;

}
.stats p {
    font-size: 30px;
}
.stats img {
    width: 50px;
    height: 50px;
}
@media (max-width:750px) {
    .stats {
        width: 48%;
        margin-bottom: 20px;
    }
    input {
        width: 70%;
    }
}